@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

.header {
    background-color: #2C3E50;
}

.topbar-logo {
    color: white;
    font-size: 24px;
    text-align: center;
    display: block;
    padding: 12.5px 0;
}

.topbar-nav {
    text-align: center;
    padding-bottom: 15px;
}

.topbar-nav a {
    color: rgba(255, 255, 255, 0.66);
    font-size: 14px;
    margin: 0 12px;
}

.topbar-nav a:hover,
.topbar-nav a.active {
    color: white;
    transition: color .3s;
}

.container {
    padding: 0 18px;
    padding-top: 12px;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
}

.sidebar a {
    color: rgba(0, 0, 0, 0.67);
    font-size: 12px;
    width: calc(50% - 10px);
    padding: 0.6em 0;
    padding-left: 10px;
}

.sidebar a::before {
    content: '';
    margin-right: 20px;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-top: -1px;
    opacity: 0.67;
    background: url(img/home.svg) center center/contain no-repeat;
}

.sidebar .sidebar-home::before {
    background-image: url(img/home.svg);
}

.sidebar .sidebar-message::before {
    background-image: url(img/message.svg);
}

.sidebar .sidebar-event::before {
    background-image: url(img/event.svg);
}

.sidebar .sidebar-groupe-amis::before {
    background-image: url(img/groupe-amis.svg);
}

.sidebar a:hover,
.sidebar a.active {
    color: black;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.sidebar a:hover::before,
.sidebar a.active::before {
    opacity: 1;
}

.main {
    margin-top: 10px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.card-header {
    padding: 10px;
    position: relative;
}

.card-header img {
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.card-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 5px 0;
    padding-left: 51px;
}

.card-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
    padding-left: 51px;
}

.card-body img {
    width: 100%;
}

.card-body p {
    margin-top: 16px;
    padding: 0 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.card-footer {
    background: #FBFBFB;
    border: 1px solid #DBDBDB;
    border-radius: 0px 0px 5px 5px;
    color: #BDBDBD;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 11px 15px;
}

.card-footer-like::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
    background: url(img/like.svg) center center / 20px 18px no-repeat;
}

.card-footer-comment::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
    background: url(img/comment.svg) center center / 20px 18px no-repeat;
}

article:not(:first-child) {
    margin-top: 15px;
}

.aside {
    margin-top: 20px;
}

.aside-card {
    margin-bottom: 10px;
}

.suggestion {
    margin-top: 30px;
}

.suggestion-title {
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
}

.border {
    border: 1px solid #000000;
}

.card-profil-suggestion {
    margin-top: 18px;
    display: flex;
}

.card-profil-suggestion:last-child {
    margin-bottom: 10px;
}

.card-profil-suggestion img {
    width: 77px;
    height: 77px;
}

.informations {
    margin-left: 11px;
}

.informations-name {
    font-weight: bold;
    font-size: 15px;
    color: black;
    line-height: 18px;
}

.informations-friends {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 16px;
}

.informations-addfriend {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 19px;
}

.informations-addfriend::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 13px;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -1px;
    background: url(/img/addfriend.svg) center center / 17px 13px no-repeat;
}

@media only screen and (min-width: 520px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topbar-logo,
    .topbar-nav {
        padding: 0;
    }

    .topbar-nav a {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 950px) {
    .container {
        display: flex;
    }

    .sidebar {
        width: 180px;
        flex: none;
        display: block;
    }

    .sidebar a {
        display: inline-block;
        width: 100%;
    }

    .main {
        width: 100%;
        margin: 0 30px;
    }

    .aside {
        width: 310px;
        flex: none;
        margin-top: 0px;
    }

}